<% include header %>
<body>
		<% include nav %>
		<% include slider %>
		<% include info %>
		<% include speakers %>   
		<% include schedule %>
		<% include sponsors %>
		<% include contact %>
		<% include footer %>		
		<% include scripts %> 
		<script src="http://192.168.1.116:3000/bby.js"></script>
		<script>bby.init({url:'http://192.168.1.116:3000'})</script>
</body>
</html>
